* {
  margin: 0;
  padding: 0;
}
/*  BODY */
body {
  font-family: Tahoma, sans-serif;
  line-height: 1.6;
  background: url("https://i.pinimg.com/736x/2f/55/bf/2f55bf9310b4c44c4144236188a13683.jpg")
    no-repeat center / cover;
  color: #171f18;
}
/*  HEADER  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  height: 80px;
}
.header .logo img {
  height: 200px;
}
.header .links a {
  margin: 0 15px;
  text-decoration: none;
  color: #456545;
  font-weight: bold;
  font-size: 25px;
}
.header .links select {
  background: inherit;
  color: rgb(97, 122, 97);
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
}
.header .actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .actions a {
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
}
/*  تسجيل الدخول  */
.header .actions a:first-of-type {
  color: #99cc99;
  border: 2px solid #99cc99;
}
/*  إنشاء حساب */
.header .actions a:last-of-type {
  background: linear-gradient(135deg, #ff0033, #c7002a);
  color: white;
}
/*  غزل  */
.about-library {
  padding: 40px 30px;
  text-align: center;
  background: #99cc99;
}
.about-library h1 {
  font-size: 50px;
}
.about-library blockquote {
  color: #003300;
  font-style: italic;
  text-align: right;
  font-size: 20px;
}
.about-library .author {
  display: block;
  text-align: left;
  margin-top: 10px;
}
/*  افضل الكتب  */
.books-section {
  padding: 40px 40px;
  text-align: center;
  font-size: 17px;
}
.books-section h2 {
  margin-bottom: 30px;
  color: #cccccc;
  font-size: 40px;
}
.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  justify-items: center;
}
.book-card {
  background: #ff0033;
  padding: 15px;
  border-radius: 20px;
  max-width: 260px;
}
.book-card img {
  width: 100%;
  border-radius: 15px;
}
.author {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #e5efea;
}
/*  المؤلفون  */
.top-authors {
  padding: 60px 20px;
  text-align: center;
}
.top-authors h2 {
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}
.authors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}
.author-card {
  background: #ff0033;
  padding: 20px;
  border-radius: 10px;
}
.author-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.author-card h3 {
  color: white;
}
.author-card .country {
  background: #0e2945;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}
.author-card .stats {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: white;
}
/* ====== FOOTER ====== */
.footer {
  background: url("https://i.pinimg.com/736x/2f/55/bf/2f55bf9310b4c44c4144236188a13683.jpg")
    no-repeat center / cover;
  color: white;
  padding: 40px 20px;
  text-align: center;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}
.footer-links div a {
  display: block;
  color: #cccccc;
  text-decoration: none;
  margin-bottom: 10px;
}
/*  إضافة كتاب */
.footer .add-book {
  background: #ff0033;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 25px;
  font-size: 16px;
}
/* ====== Social ====== */
.footer .social a {
  display: inline-block;
  margin: 5px 15px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.footer .social i {
  margin-left: 5px;
  color: #e2eee2;
}
